* {
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main > * {
  border: solid;
}

body {
  display: grid;
  place-content: center;
}


/* ////////////////////////////////////////
  INPUT COMPONENT
//////////////////////////////////////// */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-container > input {
  width: 100%;
}

.button-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
