:root {
  --primary-color: hsl(172, 67%, 45%);
  --neutral-very-dark-cyan: hsl(183, 100%, 15%);
  --neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
  --neutral-grayish-cyan: hsl(184, 14%, 56%);
  --neutral-light-grayish-cyan: hsl(185, 41%, 84%);
  --neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  place-content: center;
  background-color: var(--neutral-light-grayish-cyan);
  font-size: 24px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--white);
  gap: 2.5em;
  padding: 1.5em;
  border-radius: 25px;

  max-width: 1100px;
}

label {
  font-size: .8em;
  color: var(--neutral-dark-grayish-cyan);
}

/* ////////////////////////////////////////
  INPUT COMPONENT
//////////////////////////////////////// */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-container > .big-input {
  width: 100%;
  font-size: 1em;
  text-align: right;
  padding: .25em;
  border-radius: 5px;
  border: none;
  color: var(--neutral-very-dark-cyan);
  background-color: var(--neutral-very-light-grayish-cyan);
  margin-top: .25em;
}

.input-container > .big-input:focus {
  outline: solid 3px var(--primary-color);
}

.display-container {
  background-color: var(--neutral-very-dark-cyan);
  color: var(--white);
  padding: 2em;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 500px;
}

.button-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin-top: .75em;
}

.button-group > button {
  background-color: var(--neutral-very-dark-cyan);
  color: white;
  border: none;
  outline: none;
  font-size: 1.2em;
  padding: .35em;
}

.button-group > button:focus {
  outline: none;
}

.button-group > button:hover {
  background-color: var(--primary-color);
  color: var(--neutral-very-dark-cyan);
}

.button-group > .button-active {
  background-color: var(--primary-color);
  color: var(--neutral-very-dark-cyan);
}

.inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.outer-container {
  display: grid;
  gap: 1em;
}

.output {
  font-size: 2em;
  color: var(--primary-color);
}

.percent-input {
  font-size: 1.2em;
  text-align: center;
  border-radius: 10px;
  max-width: 168px;
  width: 100%;
  border: none;
  background-color: var(--neutral-very-light-grayish-cyan);
  color: var(--neutral-very-dark-cyan);
}

.percent-input:focus {
  outline: solid 3px var(--primary-color);
}

.percent-input::placeholder {
  color: var(--neutral-dark-grayish-cyan);
}

h3 {
  font-size: .8em;
}

.extra {
  font-size: .6em;
  color: var(--neutral-grayish-cyan)
}

.reset-button {
  background-color: var(--primary-color);
  color: var(--neutral-very-dark-cyan);
  width: 100%;

  padding: .5em;
  margin-top: 6em;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  margin-bottom: 2.5em;

  letter-spacing: .3em;
  line-height: 1.3em;

  color: var(--neutral-dark-grayish-cyan);
}